geopandas
matplotlib
numpy
pre-commit
rasterio
segmentation_models
scikit-learn
jupytext==1.14.5
jupyter
tensorflow==2.13.0
keras==2.13.1
Path
datetime
google.cloud
pytz
pynvml
numba
opencv-python
folium
segmentation_models
streamlit
ipython==8.0.0
